* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppin", sans-serif;
}

/* "Aladin" */

header {
    background-color: #181f29;
    padding: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .links{
    display: flex;
    align-items: center;
    gap: 30px;
}

header .links a{
    color: #f9f8f9;
    text-decoration: none;
}

.links a:hover {
    color: #3882f6;
}

section.profile {
    padding: 25px;
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #1f2937;
}

.texts {
    color: #f9f8f9;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .texts h1{
    font-size: 48px;
}

.texts a{
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9f8f9;
}

.texts a:hover{
    color: #3882f6;
    background-color: #e5e7eb;
}

.picture img{
    border-radius: 50%;
}

.projects {
    padding: 45px;
    display: flex;
    justify-content: space-around;
}

.project {
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.project img{
    border: 2px solid #3882f6;
    border-radius: 20px;
}

section.quote {
    background-color: #e5e7eb;
    text-align: center;
    padding: 120px;
    line-height: 40px;
    font-size: 28px;
    color: #979ea7;
}

.quote cite{
    display: block;
    text-align: center;
}

section.getNews {
    padding: 80px;
    background-color: ghostwhite;
}

.News {
    background-color: #3882f6;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    line-height: 30px;
}

.News p{
    color: #ecebec;
    font-weight: 600;
}

.News div a{
    text-decoration: none;
    display: block;
    color: #e5e7eb;
    padding: 8px 15px;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
}

.News div a:hover{
    background-color: #e5e7eb;
    color: #3882f6;
    border: 2px solid #3882f6;
}

footer {
    background-color: #181f29;
    text-align: center;
    padding: 20px;
    color: #e5e7eb;
}